* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1.animated-header {
  color: #ff0000;
  text-align: center;
  font-size: 40px;
  animation: scaleAndRotate 2s ease-in-out infinite;
}

@keyframes scaleAndRotate {
  0% {
    transform: scale(1) rotate(0deg);
  }
  50% {
    transform: scale(1.2) rotate(180deg);
  }
  100% {
    transform: scale(1) rotate(360deg);
  }
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}
img {
  width: 100%;
  height: auto;
  display: block;
}

.burger-menu {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.bar {
  background-color: #56512e;
  height: 3px;
  width: 25px;
  margin: 4px 0;
}

.mobile-menu {
  position: absolute;
  top: 60px;
  left: 0;
  z-index: 999;
  background-color: #fff;
  width: 100%;
  display: none;
}

.mobile-menu.show-menu {
  display: block;
}

header,
footer {
  height: 50px;
  background-color: rgb(251, 251, 251);
  display: flex;
  margin: 0;
  align-items: center;
  justify-content: space-between;
  padding: 0rem 1.5rem;
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.2);
  font-family: "Bungee";
  text-decoration: none;
  color: #ff0000;
}

nav a {
  text-decoration: none;
  color: #ff0000;
}

nav a:hover {
  filter: contrast(3);
  color: #000;
}

main {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
  font-family: "Bungee";
}

.forsidebillede {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

li {
  list-style: none;
}

.aske_arbejder {
  width: 100%;
  height: 100%;
}

.studiet {
  width: 100%;
  height: 100%;
}

.tekstindhold1 {
  padding: 40px 34px;
  height: 100%;
  width: 100%;
  text-align: left;
  z-index: 1;
  font-size: large;
  background-image: url(redigeredebilleder/aske_arbejder.webp);
  background-repeat: no-repeat;
  background-size: cover;
  aspect-ratio: 106.68/142.24;
  font-size: 10px;
  position: absolute;
}

.tekstindhold2 p {
  position: absolute;
  left: 30%;
  top: 5%;
  max-width: 35ch;
  font-size: small;
}

.tekst_om_aske p {
  position: absolute;
  top: 85%;
  left: 3%;
  max-width: 35ch;
  font-size: small;
  z-index: 999;
  text-shadow: -1px -1px 0 #ff0000, 1px -1px 0 #ff0000, -1px 1px 0 #ff0000, 1px 1px 0 #ff0000;
  text-align: left;
}

.tekstindhold2 {
  background-image: url(redigeredebilleder/studiet.webp);
  background-repeat: no-repeat;
  background-size: cover;
  aspect-ratio: 106.68/142.24;
}

.tekstmedbillede {
  position: relative;
  display: inline-block;
  line-height: 1.5;
  color: white;
  width: 100%;
  height: 100%;
}

.videoerne {
  align-items: center;
}

/* mobil-layout */
@media only screen and (max-width: 768px) {
  .burger-menu {
    display: flex;
  }

  nav {
    display: none; /* (vises via burger-menu) */
  }

  .tekst_om_aske p {
    position: relative;
    top: auto;
    left: auto;
    max-width: 100%;
    font-size: initial;
    z-index: initial;
    text-shadow: none;
    text-align: left;
  }

  .tekstindhold1,
  .tekstindhold2 {
    position: static;
    width: 100%;
    height: auto;
    padding: 20px;
    font-size: smaller;
    background-size: contain;
  }

  .forsidebillede,
  .aske_arbejder,
  .studiet {
    max-width: 100%; /* Begræns maksimal bredde til containerens bredde */
    height: auto; /* Sørg for, at højden justeres korrekt i forhold til bredden */
  }
  .tekstindhold1,
  .tekstindhold2 p {
    font-size: smaller; /* Reducér skriftstørrelsen til mindre skærme */
    padding: 10px; /* Juster polstring for mindre skærme */
  }
}

@media only screen and (min-width: 601px) {
  .burger-menu {
    display: none;
  }

  .mobile-menu {
    display: none;
  }
}
